// This file is useful to override some drupal defaults that are not explicitly covered
//  by overridden stylesheets
// 
// For use with variables from settings and/or foundation

// Global Drupal
#help {
  .block {
    @include panel;
    font-size: 1.25rem;
    color: $info-color;
    p {
      font-weight: 300;
    }
  }
}

ul.inline {
  @include inline-list;
  margin: 0;
  padding: 0;
  li {
    margin: 0 $margin-default/2 0 0;
    padding: 0;
  }
}

// FORMS
form {
  label {
    font-weight: bold;
  }
  .description {
    font-size: 0.8rem;
    margin-top: -0.9rem;
    color: $smoke;
  }
}

// Using the default styles
.form-submit {
  @include button;
  margin-right: $margin-default/2;
}


// PAGER
.pager {
  @include pagination;
}

/* This bit makes things like the admin-menu render in a normal font-size */
#admin-menu ul,
#admin-menu ol,
#admin-menu dl {
  font-size: 1em;
}
#admin-menu ul li ul,
#admin-menuul li ol {
  font-size: 1em;
}

#content table {
  width: 100%;
}


/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 98% 13px; /* LTR */ 
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 98% -9px; /* LTR */
}

/* Fix the form height within admin menu */
#admin-menu-search input {
  height: auto;
}

/* Prevent a margin on paragraphs when using the grid-blocks on a body field wich automatically adds <p> tags everywhere */
li a.th p {
  margin-bottom: 0;
}

/* Prevent Secondary menu items from making the footer menus go spaz */
#menublocks ul.menu li ul {
  display: none;
}

// LOCAL TASKS (Tab navigation)
#tab-navigation {
  // border-top: 1px solid darken($body-bg, 10%);
  border-bottom: 1px solid $primary-color;
  letter-spacing: 1px;
  margin: 0;
  margin-bottom: $margin-default;
  background: $body-bg;
  /* box-shadow: 0 1px 3px darken($body-bg, 30%) inset; */
  padding: 0 0 1px 0;
  min-height: 29px;
  ul.primary {
    display: block;
    border: none;
    line-height: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background: none;
    li {
      display: inline;
      margin: 0;
      padding: 0;
      a {
        display: block;
        float: left;
        height: 26px;
        width: auto;
        font-size: 0.7em;
        background-color: $body-bg;
        border: none;
        min-height: 26px;
        line-height: 26px;
        margin: 1px 0 1px 1px;
        padding: 0 $margin-default/2;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        color: $white;
        background-color: $primary-color;
        border: none;
      }
    }
    li.active {
      a {
        border: none;
        background: $primary-color;
        color: $white;
      }
    }
  }

  ul.secondary {
    border-top: 1px solid darken($body-bg, 10%);
    border-bottom: none;
    padding: 0;
    margin: 0;
    margin-bottom: $margin-default;
    min-height: 29px;
    display: block;
    line-height: 26px;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    background: none;
    li {
      border: none;
      display: inline;
      padding: 0;
      margin: 0;
      a {
        display: block;
        float: left;
        height: 26px;
        width: auto;
        font-size: 0.7em;
        background-color: $body-bg;
        border: none;
        min-height: 26px;
        line-height: 26px;
        margin: 1px 0 1px 1px;
        padding: 0 $margin-default/2;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        color: $white;
        background-color: $primary-color;
        border: none;
      }
    }
    li.active {
      a {
        border: none;
        background: $primary-color;
        color: $white;
      }
    }
  }
}
