// This file is useful to override some drupal defaults that are not explicitly covered
//  by overridden stylesheets
// 
// For use with variables from settings and/or foundation

// Global Drupal
#help {
  font-size: 1.25rem;
  color: $info-color;
  p {
    font-weight: 300;
  }
}

ul.inline {
  @include inline-list;
  margin: 0;
  padding: 0;
  li {
    margin: 0 $margin-default/2 0 0;
    padding: 0;
  }
}


// PAGER
.pager {
  @include pagination;
}

/* This bit makes things like the admin-menu render in a normal font-size */
#admin-menu ul,
#admin-menu ol,
#admin-menu dl {
  font-size: 1em;
}
#admin-menu ul li ul,
#admin-menuul li ol {
  font-size: 1em;
}

#content table {
  width: 100%;
}


/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 98% 13px; /* LTR */ 
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 98% -9px; /* LTR */
}

/* Fix the form height within admin menu */
#admin-menu-search input {
  height: auto;
}

/* Prevent a margin on paragraphs when using the grid-blocks on a body field wich automatically adds <p> tags everywhere */
li a.th p {
  margin-bottom: 0;
}

/* Prevent Secondary menu items from making the footer menus go spaz */
#menublocks ul.menu li ul {
  display: none;
}


