@import "settings";
@import "custom";
@import
   "foundation/components/accordion",
   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
   "foundation/components/breadcrumbs",
   "foundation/components/button-groups",
   "foundation/components/buttons",
   "foundation/components/clearing",
   "foundation/components/dropdown",
   "foundation/components/dropdown-buttons",
   "foundation/components/flex-video",
   "foundation/components/grid",
   "foundation/components/inline-lists",
   "foundation/components/joyride",
   "foundation/components/keystrokes",
   "foundation/components/labels",
   "foundation/components/magellan",
   "foundation/components/orbit",
   "foundation/components/pagination",
   "foundation/components/panels",
   "foundation/components/pricing-tables",
   "foundation/components/progress-bars",
   "foundation/components/reveal",
   "foundation/components/side-nav",
   "foundation/components/split-buttons",
   "foundation/components/sub-nav",
   "foundation/components/switches",
   "foundation/components/tables",
   "foundation/components/tabs",
   "foundation/components/thumbs",
   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type",
   "foundation/components/offcanvas",
   "foundation/components/visibility";
@import "drupal";
@import "scaffold";
@import "ctcommunity";
// @import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
// @import url(http://fonts.googleapis.com/css?family=Pacifico);
// @import url(http://fonts.googleapis.com/css?family=Handlee);
// @import url(http://fonts.googleapis.com/css?family=Devonshire);
// @import url(http://fonts.googleapis.com/css?family=Handlee);
//    "foundation/components/forms",


// Global HTML selectors
h1.page-title {
  font-weight: 100;
}


// DASHBOARD
#user-dashboard {
  padding: 0;
  margin: 0;
  background: darken($body-bg, 20%);
  // border-bottom: 1px solid lighten($primary-color, 10%);
  box-shadow: inset 0px -2px 10px darken($secondary-color, 50%);
  section {
    display: inline-block;
    float: right;
  }
  #block-system-user-menu,
  #block-menu-menu-hi5-create-content {
    ul.menu {
      @include button-group-container($styles:true, $float:true);
      margin-bottom: 0;
//      float: right;
      li {
        a {
          @include button($padding:$button-tny, $bg:false, $radius:$global-radius, $full-width:true, $disabled:false);
          margin-left: $margin-default/2;
          margin-bottom: 0;
        }
        margin-bottom: 0;
      }
      & > li {
        @include button-group-style($radius:true, $even:false, $float:left);
      }
      margin-bottom: 0;
    }
  }
}

// HEADER (masthead)
#header {
  background: $primary-color;
  @include box-shadow-default;
}

h1.site-name {
//  font-family: 'Handlee', cursive;
//  font-family: 'Devonshire', cursive;
}

// MISSION
#mission {
  background: $primary-color url("../images/hero-image.svg") no-repeat center center;
  // background: $primary-color url("../images/the_chair.jpg") no-repeat center center;
  background-size: cover;
  color: $white;
  min-height: 300px;
  padding-top: 150px;
  margin-bottom: $margin-default;
  @include box-shadow-default;
  h1.page-title {
    color: $white;
  }
  p {
    @include grid-column($columns:8, $last-column:true, $center:false, $offset:0, $push:0, $pull:0, $collapse:true, $float:left);
    font-size: 1.2rem;
    font-weight: 200;
  }
  section {
    @include grid-row($behavior:collapsed);
  }
  #CTA {
    li {
      display: inline-block;
      margin-right: $margin-default;
    }
  }
}

// CTA
#CTA {
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style: none;
      a {
      }
    }
  }
  .cta {
    @include button($padding:$button-med, $bg:adjust_hue($primary-color, -120), $radius:5px, $full-width:false, $disabled:false);
    border: 1px solid darken(adjust_hue($primary-color, -120), 10%);
    text-align: left;
    font-weight: bold;
    @include box-shadow-default;
  }
}


// BREADCRUMB
.breadcrumbs {
  margin-top: $margin-default;
}

// CONTENT main page content.
// AE: See _scaffold.scss for setting up the columns and rows for sidebars and/or other regions
#content {
  padding: $margin-default/2 0;
  article {
    margin-bottom: $margin-default;
  }
}

#pageContent {
  article.some-class {
    .ctools-collapsible-content {
      @include panel();
    }
  }
}

// SIDEBAR FIRST
#sidebar-first {
  .block-title {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .menu {
    @include side-nav();
    li {
      border-bottom: 1px solid darken($body-bg, 20%);
    }
  }
}

// POLYPTYCH
#polyptych {
  background: darken($primary-color, 20%);
  padding: $margin-default/2 0;
  margin: $margin-default 0 0 0;
  .block {
    color: $white;
    font-size: 0.8rem;
    margin-bottom: $margin-default;
    .block-title {
      font-size: 1.5rem;
      color: $white;
    }
    form {
      legend {
        background: darken($primary-color, 20%);
      }
      label {
        color: $white;
      }
      .form-item {
        .description {
          color: $white;
        }
      }
    }
  }
}

// FOOTER
#footer-menu {
  background: $secondary-color;
  height: $topbar-height;
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      a {
        line-height: $topbar-height;
        margin: 0 0 0 0;
        font-size: $topbar-link-font-size;
      }
      a::after {
        content: '|';
        margin: 0 $margin-default/2;
      }
    }
    li.last {
      a::after {
        content: '';
        margin: 0;
      }
    }
  }
}

// UX MENU
#uxmenu {
  border-bottom: 1px solid $secondary-color;
  margin-bottom: $margin-default;
  padding: $margin-default 0;
  @include box-shadow-default;
  section {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #7e7e7e;
    h6.blocktitle {
      font-size: 0.8rem;
    }
  }
  .menu {
    @include inline-list;
    margin-bottom: 0;
    li {
      font-size: 0.8rem;
    }
  }
}

//COPYRIGHT
#copyright {
}

#footer-message {
  .region-footer-message {
    color: $smoke;
    font-size: 0.8em;
    padding: $margin-default/2 0;
    @media #{$small-only} {
      text-align: center;
    }
  }
}

// COLOPHON
#colophon {
  text-align: right;
  @media #{$small-only} {
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
    @media #{$small-only} {
      text-align: center;
    }
  }
  li {
    @media #{$small-only} {
      display: inline;
      text-align: center;
      list-style: none;
    }
    @media #{$medium-only} {
      display: block;
    }
    @media #{$large-up} {
      display: inline;
    } 
    margin: 0;
    padding: 0;
    a {
      display: inline-block;
      line-height: 36px;
      text-indent: -9999em;
      overflow: hidden;
      text-align: left;
      min-height: 36px;
    }
    a.drupal {
      background: transparent url("../images/colophon_logo_drupal_bw.png") no-repeat center center;
      width: 139px;
    }
    a.drupal:hover {
      background: transparent url("../images/colophon_logo_drupal.png") no-repeat center center;
    }
    a.uberellis {
      width: 150px;
      background: transparent url("../images/colophon_logo_uberellis_bw.png") no-repeat center center;
    }
    a.uberellis:hover {
      background: transparent url("../images/colophon_logo_uberellis.png") no-repeat center center;
    }
    a.black-lion-group {
      text-indent: 0;
    }
  }
}
